@font-face {
    src: url('../Fuentes/MAXWELL_BOLD.ttf');
}

@font-face {
    src: url('../Fuentes/MAXWELL_REGULAR.ttf');
}

.StackBG
{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: linear-gradient(to bottom right, #262626, #404040);
}

.label
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #fcfcfc;
}

.Titulo
{
    -fx-font-family: "MAXWELL BOLD";
}

.button
{
    -fx-text-fill: #fcfcfc;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-size: 30px;
    -fx-font-family: "MAXWELL REGULAR";
}

.bAceptar{
    -fx-background-color: #0ea7b5;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: TRANSPARENT;
}