.button{
    -fx-font-size: 25px;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 88;
    -fx-font-family: "MAXWELL REGULAR";
    -fx-effect: dropshadow(two-pass-box, #341111,20,0,3,3);
}
.cancelar_button{
    -fx-background-color: #FF5169;
}

.ok_button{
    -fx-background-color: #0cb1d7;;
}

.field_camp{
    -fx-font-size: 25px;
}

.label_titulo{
    -fx-font-size: 28px;
    -fx-background-color: #222831;
    -fx-text-fill: white;
}