@font-face
{
    src: url('../Fuentes/MAXWELL_REGULAR.ttf');
}
#BRestaurante
{
    -fx-text-fill: white;
    -fx-font-size: 34;
    -fx-font-family: "MAXWELL REGULAR";
}
#BGimnasio
{
    -fx-text-fill: white;
    -fx-font-size: 34;
    -fx-font-family: "MAXWELL REGULAR";
}
#BSpa
{
    -fx-text-fill: white;
    -fx-font-size: 34;
    -fx-font-family: "MAXWELL REGULAR";
}
#BCafeteria
{
    -fx-text-fill: white;
    -fx-font-size: 34;
    -fx-font-family: "MAXWELL REGULAR";
}
#BPiscina
 {
     -fx-text-fill: white;
     -fx-font-size: 34;
     -fx-font-family: "MAXWELL REGULAR";
 }
#Nombre_Hotel
{
    -fx-text-fill: #ec4747;
    -fx-font-size: 70;
    -fx-font-family: "MAXWELL REGULAR";
}
#pane
{
    -fx-background-radius: 15 15 15 15;
}
#txtRHabitacion,#txtRPiso
{
    -fx-text-fill: #E74238;
    -fx-font-size: 34;
    -fx-font-family: "MAXWELL REGULAR";
}
#txtRProductos
{
    -fx-text-fill: #E74238;
    -fx-font-size: 34;
    -fx-font-family: "MAXWELL REGULAR";
}
#RTCodigo
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #E74238;
    -fx-background-color: #2d2e2d;
    -fx-font-size: 25;
    -fx-border-color: #E74238 #E74238 #E74238 #2d2e2d  ;
}
#RTNombre,#RTStock
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #E74238;
    -fx-background-color: #2d2e2d;
    -fx-font-size: 25;
    -fx-border-color: #E74238;
}
#RTPrecio
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #E74238;
    -fx-background-color: #2d2e2d;
    -fx-font-size: 25;
    -fx-border-color: #E74238 ;
}
#RTCantidad
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #E74238;
    -fx-background-color: #2d2e2d;
    -fx-font-size: 25;
    -fx-border-color: #E74238;
}
#RTCargar
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #E74238;
    -fx-background-color: #2d2e2d;
    -fx-font-size: 25;
    -fx-border-color: #E74238 #2d2e2d  #E74238 #E74238  ;
}
#RC1,#RC2,#RC3,#RC4,#RC5,#RC6
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #E74238;
    -fx-background-color: #2d2e2d;
    -fx-font-size: 25;
    -fx-border-color: #E74238 #E74238 #E74238 #2d2e2d ;
}
#RN1,#RN2,#RN3,#RN4,#RN5,#RN6
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-text-fill: #E74238;
    -fx-background-color: #2d2e2d;
    -fx-font-size: 25;
    -fx-border-color: #E74238 #E74238 #E74238 #2d2e2d  ;
}
#RCAR1,#RCAR2,#RCAR3,#RCAR4,#RCAR5,#RCAR6,#PCAR1,#PCAR2,#PCAR3,#PCAR4,#PCAR5,#PCAR6
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-background-color: #2d2e2d;
    -fx-border-color: #E74238 #2d2e2d #E74238 #E74238 ;
    -fx-background-image: url("../images/AgregarCompra.png");
    -fx-background-size: 39%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#REMuestra,#PEMuestra,#GREMuestra
{
    -fx-border-radius: 28 28 28 28;
    -fx-background-radius: 28 28 28 28;
    -fx-background-color: #626262;
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 25 ptx;

}
#RAceptar,#RLimpiar,#RActualizar,#RCargar
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 25 ptx;
    -fx-background-radius: 28 28 28 28;
    -fx-background-color: #ef4a40;
}
#TCantidad
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 25 ptx;
    -fx-background-radius: 28 28 28 28;
    -fx-text-fill: Black;
    -fx-background-color: white;

}
#ESalir
{
    -fx-font-family: "MAXWELL REGULAR";
    -fx-background-color: #2d2e2d;
    -fx-background-image: url("../images/Salir.png");
    -fx-background-size: 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
