@font-face {
    src: url('../Fuentes/FontsFree-Net-BringHeart-Regular.ttf');
}

@font-face {
    src: url('../Fuentes/MAXWELL_REGULAR.ttf');
}

@font-face {
    src: url('../Fuentes/BebasNeue-Regular.ttf');
}

@font-face {
    src: url('../Fuentes/MAXWELL_BOLD.ttf');
}

.navbar {
    -fx-background-color: #2E1E1E;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-effect: dropshadow(two-pass-box,#000000,10,0,3,3);
}
.hab_panel{
    -fx-background-color: #2E1E1E;
}
.button{
    -fx-background-color: white;
}
.navbar__button {
    -fx-background-color: #2E1E1E;
}

.navbar__button--reverve {
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 20px;
    -fx-background-image: url("../images/Reserva_Icon.png");
    -fx-background-position: center;
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
}

.navbar__button--checkin {
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 20px;
    -fx-background-image: url("../images/Checkin_Icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.navbar__button--checkout {
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 20px;
    -fx-background-image: url("../images/CheckOut_Icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.navbar__button--search {
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 20px;
    -fx-background-image: url("../images/Search_Icon.png");
    -fx-background-size: 50%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.navbar__button--out {
    -fx-font-family: "MAXWELL REGULAR";
    -fx-font-size: 20px;
    -fx-background-size: 85%;
    -fx-background-image: url("../images/Out_Icon.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.button-basic{

    -fx-border-color: black;
    -fx-border-radius: 10;
}

.button:hover{
    -fx-cursor: HAND;
}

.navbar__button:hover{
    -fx-background-color: #402828;
}

.title-hotel {
    -fx-background-color: linear-gradient(from 0px 400px to 500px 1200px, #2E1E1E, #1d0a01);
    -fx-font-family: "MAXWELL REGULAR";
    -fx-color: white;
    -fx-text-align: center;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.seleccion_hab__hab_triple
{
    -fx-background-image: url("../images/Piso_1_Icon.png");
    -fx-background-position: center;
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;

}
.seleccion_hab__hab_doble
{
    -fx-background-image: url("../images/Piso_1_Icon.png");
    -fx-background-position: center;
    -fx-background-size: 95%;
    -fx-background-repeat: no-repeat;
}

.seleccion_hab__hab_sencilla
{
    -fx-background-image: url("../images/Piso_1_Icon.png");
    -fx-background-position: center;
    -fx-background-size: 95%;
    -fx-background-repeat: no-repeat;
}

.map-red {
    -fx-border-color: #d70000;
    -fx-background-color: #ff9f9f;
}

.map-green {
    -fx-border-color: #1bf358;
    -fx-background-color: #9fffba;
}



